@import "../../_Medidas.scss";
.servicios-container{
    height: auto;
    .servicios-img-container{
        background-color: red;
        height: 300px;
    }
    .info-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        gap: 30px;
        
        .info-card{
            border-radius: 20px;
            overflow: hidden;
           gap: 50px;
            width: 1200px;
            height: 400px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border: solid;
            @include desktop1{
                width: 800px;
            }
            @include tablet{
                width: 590px;
                padding: 10px;
                height: auto;
                flex-wrap: wrap;
            }
            @include tablet2{
                width: 500px;
            }
            @include tablet2{
                width: 400px;
            }
            @include mobile{
                width: 355px;
            }
            .img-container {
                width: 700px;
                height: 100%;
                border-radius: 20px;
                overflow: hidden;
        
                .img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover; /* Ajusta la imagen para que cubra completamente su contenedor sin deformarse */
                }
              }
            .parrafo-card {
                width: 590px;
                font-family: Montserrat;
                color: var(--Colores-diseo-alta-Negro, #000);
                font-size: 25px;
                font-style: normal;
                font-weight: 700;
                animation: colorChange 2s infinite alternate; /* Puedes ajustar la duración y otros parámetros según tus necesidades */
             
            }
            .lista-check {
                list-style-type: none;
                padding: 0;
            
                li {
                  padding-left: 30px;
                  position: relative;
                  line-height: 1.5;
            
                  &::before {
                    content: "✔";
                    position: absolute;
                    left: 0;
                  }
                }
              }
            
        }
    }
}
